* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: rgb(206, 205, 205);
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  padding: 25px;
  background-color: rgb(53, 48, 48);
  color: white;
}

header>a {
  font-size: 2rem;
  margin-left: 3vw;
  padding: 12px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: 300ms ease-in;
}

header>a:hover {
  background-color: rgb(65, 63, 63);
}

.banner>img {
  width: 100%;
  height: 90vh;
}

.secoes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  text-align: center;
  margin-bottom: 30px;
}

section>h1 {
  font-size: 4em;
  margin: 25px 0;
}

section>p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  section>h1 {
    font-size: 5em;
  }

  section>p {
    font-size: 1.5rem;
  }

  .secoes {
    flex-direction: row;
  }
}

@media (min-heigth: 850px) {
  .banner>img {
    height: 100vh;
  }
}